*
  margin: 0
  border: 0
  padding: 0
  box-sizing: border-box
  &:focus
    outline: none

body
  font-size: 12px
  background-color: $back
  font-family: PTSansCaption, serif
  min-width: 320px
  overflow-x: hidden

html
  overflow-x: hidden

.overflow
  overflow: hidden
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0

a
  text-decoration: none
  color: $link_blue
  text-transform: uppercase
  letter-spacing: .1em
  transition: .2s
  &:hover
    color: $light_blue
    text-decoration: underline
    b
      color: lighten($pink, 10%)
  b
    color: $pink
    font-weight: normal
    transition: .2s

.header
  &:not(.auth)
    ._auth
      display: none
  &.auth
    ._notAuth
      display: none

.title
  text-transform: uppercase
  color: $white_text
  letter-spacing: .1em
  line-height: 1em

.title_big
  @extend .title
  font-size: 14px
  letter-spacing: .2em
  margin-bottom: 20px
  .icon
    margin-right: 15px
  @media (min-width: $sm)
    margin-bottom: 25px
    font-size: 18px
  @media (min-width: $lg)
    font-size: 20px

.container
  padding: 0 15px
  margin: 0 auto
  @media (min-width: $sm)
    max-width: 750px
  @media (min-width: $lg)
    max-width: 1170px

.c_pink
  color: $pink !important

.defs-only
  display: none !important