@font-face 
	font-family: 'PTSans'
	src: url('../fonts/PT_Sans/PT_Sans-Web-Regular.ttf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'PTSans'
	src: url('../fonts/PT_Sans/PT_Sans-Web-Bold.ttf')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'PTSans'
	src: url('../fonts/PT_Sans/PT_Sans-Web-BoldItalic.ttf')
	font-weight: bold
	font-style: italic

@font-face
	font-family: 'PTSans'
	src: url('../fonts/PT_Sans/PT_Sans-Web-Italic.ttf')
	font-weight: normal
	font-style: italic

@font-face
	font-family: 'PTSansCaption'
	src: url('../fonts/PT_Sans_Caption/PT_Sans-Caption-Web-Regular.ttf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'PTSansCaption'
	src: url('../fonts/PT_Sans_Caption/PT_Sans-Caption-Web-Bold.ttf')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'PTSerif'
	src: url('../fonts/PT_Serif/PT_Serif-Web-Regular.ttf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'PTSerif'
	src: url('../fonts/PT_Serif/PT_Serif-Web-Bold.ttf')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'PTSerif'
	src: url('../fonts/PT_Serif/PT_Serif-Web-Italic.ttf')
	font-weight: normal
	font-style: italic