.adaptiveLine
  position: relative
  display: block
  padding-top: 10px
  &__line
    width: calc(100% - 100px)
    float: left
    &::after
      content: ''
      display: block
      clear: both
  &__btn
    @extend a
    cursor: pointer
  &__all
    float: left
    text-align: right
    width: 100px
    padding-right: 30px
  &__item
    float: left
    padding-right: 20px
  &__drop
    width: 400px
    text-align: left
    padding: 10px 5px
    &::after
      content: ''
      display: block
      clear: both
    .adaptiveLine__item
      width: 50%
      margin-bottom: 15px
  @media(max-width: $lg_)
    &__line
      .adaptiveLine__item:nth-child(3) ~ .adaptiveLine__item
        display: none
  @media(min-width: $lg)
    padding-top: 17px
    &__item
      padding-right: 30px