.arrowDown
  display: inline-block
  position: relative
  height: 1em
  width: 10px
  &::after
    content: ''
    position: absolute
    vertical-align: middle
    width: 5px
    left: 0
    top: .25em
    height: 5px
    border: 1px solid $link_blue
    border-top: none
    border-left: none
    transform: rotate(45deg)