.arrow
  display: inline-block
  vertical-align: middle
  position: relative
  width: 11px
  height: 9px
  background-image: url("../../img/arrow_right.png")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
