.btn
  display: inline-block
  cursor: pointer
  text-decoration: none!important
  outline: none
  color: $light_blue
  padding: 18px 22px
  border: 1px solid $dark_blue
  text-transform: uppercase
  font-size: 12px
  letter-spacing: .1em
  line-height: 1em
  white-space: nowrap
  vertical-align: middle
  transition: .3s
  text-align: center
  user-select: none
  &:hover, &:active, &.active
    border-color: $link_blue
    background-color: rgba(0,0,0,.1)
  &_lg
    padding: 20px 22px