.checkbox
  display: block
  white-space: nowrap
  cursor: pointer
  user-select: none
  input
    display: none
  &__box
    display: inline-block
    vertical-align: middle
    border: 1px solid $very_dark
    background-color: $back
    width: 15px
    height: 15px
    margin-right: 15px
    position: relative
  &__label
    display: inline-block
    vertical-align: middle
    color: $white_text
    opacity: .6
    text-transform: uppercase
    letter-spacing: .1em
    font-family: PTSansCaption, serif
  input:checked
    &~ .checkbox__box
      background-color: $link_blue
      &::after
        content: ''
        display: block
        position: absolute
        width: 3px
        height: 6px
        border: 2px solid $very_dark
        border-left: none
        border-top: none
        transform: rotate(40deg)
        left: 4px
        top: 1px
    &~ .checkbox__label
      opacity: 1