.close
  display: inline-block
  height: 20px
  width: 20px
  cursor: pointer
  position: relative
  &::before, &::after
    top: 9px
    left: 0
    right: 0
    position: absolute
    content: ''
    display: block
    height: 2px
    background-color: $light_blue
    transition: .2s
    transform-origin: center
  &::before
      transform: rotate(45deg)
  &::after
      transform: rotate(-45deg)