.dropDown
  position: relative
  &__drop
    position: absolute
    top: 100%
    left: 50%
    opacity: 0
    transition: .3s
    pointer-events: none
    transform: translateY(-10px) translateX(-50%)
    padding-top: 5px
    &::before
      content: ''
      width: 15px
      height: 15px
      background-color: $very_dark
      position: absolute
      left: 50%
      top: 0
      transform-origin: 0 0
      transform: rotate(45deg)
  &__content
    background-color: $very_dark
    position: relative
    padding: 10px
  &_onhover:hover, &.active
    .dropDown__drop
      transform: translateX(-50%)
      z-index: 100
      opacity: 1
      pointer-events: all