.heart
  display: inline-block
  width: 15px
  height: 14px
  background-image: url(../../svg/heart.svg)
  background-position: center
  background-repeat: no-repeat
  -webkit-background-size: contain
  background-size: contain
  vertical-align: middle