i
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  letter-spacing: initial
  &::before
    content: 'iiii'
    color: transparent
    pointer-events: none
  &.crown
    background-image: url('../../svg/icon_11.svg')
  &.time
    background-image: url('../../svg/time.svg')
  &.cup
    background-image: url('../../svg/cup.svg')