.input
  border: 1px solid $very_dark
  height: 50px
  width: 100%
  color: white
  background-color: transparent
  padding: 0 20px
  font-size: 14px
  font-family: PTSansCaption, serif
  &::placeholder
    color: $white_text
    opacity: .2
  &:focus
    border-color: $very_dark
    background-color: $dark
  &::-ms-reveal
    display: none