.likeCheckbox
  display: inline-block
  cursor: pointer
  input
    display: none!important
  &__icon
    display: inline-block
    width: 30px
    height: 30px
    position: relative
    &::after, &::before
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
    &::after
      background-image: url(../../svg/heart.svg)
      background-position: center
      background-repeat: no-repeat
      background-size: 14px
    &::before
      background-color: $light_blue
      opacity: 0
      transform: scale(0)
      transition: .3s
      transition-timing-function: cubic-bezier(0.31, 0.6, 0.61, 1.34)
      -webkit-border-radius: 999px
      -moz-border-radius: 999px
      border-radius: 999px
  input:checked + .likeCheckbox__icon
    &::after
      background-image: url(../../svg/heart_white.svg)
    &:before
      transform: scale(1)
      opacity: 1