.select
  position: relative
  display: inline-block
  select
    display: none
  &__btn
    @extend .btn
    padding-right: 35px
    text-align: left
    letter-spacing: .2em
    &::after
      content: ''
      display: inline-block
      position: absolute
      right: 20px
      vertical-align: middle
      width: 5px
      height: 5px
      border: 1px solid $link_blue
      border-top: none
      border-left: none
      margin-left: 5px
      transform: rotate(45deg) translateY(20%)
  &__drop
    position: absolute
    top: 100%
    min-width: 100%
    right: 0
    padding-top: 10px
    transform: translateY(-10px)
    opacity: 0
    pointer-events: none
    transition: .3s
    &::before
      content: ''
      width: 15px
      height: 15px
      background-color: $very_dark
      position: absolute
      left: 50%
      top: 0
      transform-origin: 0 0
      transform: rotate(45deg)
  &__content
    background-color: $very_dark
    position: relative
    padding: 10px
  &__item
    @extend a
    display: block
    cursor: pointer
    padding: 8px 10px
    white-space: nowrap
    &.selected
      display: none
  &.open
    .select__drop
      pointer-events: all
      z-index: 100
      opacity: 1
      transform: none
  @media (max-width: $lg_)
    font-size: 10px
    &__btn
      padding: 13px 15px
      padding-right: 35px
      font-size: 10px
      &::after
        right: 12px