.tip
  width: 20px
  height: 20px
  -webkit-border-radius: 999px
  -moz-border-radius: 999px
  border-radius: 999px
  background-color: $very_dark
  cursor: pointer
  position: relative
  color: $light_blue
  text-align: center
  &::before
    content: '?'
    line-height: 20px
    display: inline-block
    vertical-align: middle
  &__content
    white-space: pre-wrap
    text-align: left
    position: absolute
    background-color: $very_dark
    width: 200px
    right: 150%
    top: 50%
    transform: translateY(-50%) translateX(10px)
    opacity: 0
    transition: .3s
    color: $white_text
    padding: 8px 10px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    &::before
      content: ''
      position: absolute
      right: -10px
      width: 15px
      height: 15px
      background-color: $very_dark
      transform-origin: right bottom
      transform: rotate(-45deg)
  &:hover
    background-color: $link_blue
    color: #ffffff
    .tip__content
      z-index: 10
      opacity: 1
      transform: translateY(-50%)
  @media (min-width: $lg)
    &__content
      top: auto
      bottom: 150%
      left: 50%
      right: auto
      transform: translateX(-50%) translateY(-10px)
      &::before
        content: ''
        position: absolute
        bottom: -3px
        left: 50%
        width: 12px
        height: 12px
        background-color: $very_dark
        transform-origin: left top
        transform: rotate(45deg)
    &:hover
      .tip__content
        opacity: 1
        transform: translateX(-50%) translateY(0)