.about
  padding-top: 35px
  .container
    padding-bottom: 27px
    position: relative
    &::after
      content: ''
      position: absolute
      height: 2px
      bottom: 0
      left: 15px
      right: 15px
      background-color: $very_dark
  &__title
    text-align: center
  &__owl
    margin-bottom: 30px
    .owl-stage-outer
      overflow: visible
    &:not(.owl-carousel)
      &::after
        content: ''
        display: block
        clear: both
      .about__benefit
        float: left
        width: 33.33%
  &__text
    color: rgba($white_text, .5)
    font-size: 14px
    line-height: 1.8em
    margin-bottom: 20px
    &:first-letter
      font-family: "PT Serif", serif
      color: darken($white_text, 10%)
      float: left
      font-size: 330%
      margin-top: 13px
      margin-right: 10px
  @media (max-width: $sm_)
    &__slider
      margin-left: -15px
      margin-right: -15px
      overflow: hidden
      padding: 0 35px
  @media (min-width: $sm)
    padding-top: 45px
    .container
      padding-bottom: 52px
    &__owl
      margin-bottom: 50px
    &__text
      margin-bottom: 30px
  @media (min-width: $lg)
    .container
      padding-bottom: 52px
    &__slider
      padding: 0 70px
    &__text
      column-count: 2
      column-gap: 30px

