.aboutBlock
  color: rgba($white_text, .2)
  &__text
    line-height: 2em
    text-align: left
    a
      color: rgba($link_blue, .2)
      text-transform: none
      letter-spacing: unset
      &:hover
        color: $link_blue
    p
      margin-bottom: 2em
  &__logo
    img
      width: 100%
  &__age
    width: 40px
    height: 40px
    border: 3px solid rgba($white_text, .2)
    display: inline-block
    -webkit-border-radius: 999px
    -moz-border-radius: 999px
    border-radius: 999px
    font-size: 14px
    text-align: center
    &::after
      content: ''
      display: inline-block
      height: 100%
      vertical-align: middle
  &__footer
    display: flex
    flex-direction: row
    justify-content: space-between
  &__partner
    display: inline-block
    img
      opacity: .1
      transition: .3s
      height: 40px
    &:hover
      img
        opacity: .6
  @media (max-width: $sm_)
    &__left
      display: none
    &__age
      width: 30px
      height: 30px
      font-size: 10px
    &__partner
      img
        height: 25px
  @media (min-width: $sm)
    &::after
      content: ''
      display: block
      clear: both
    &__left
      width: 100px
      padding-right: 30px
      float: left
    &__right
      width: calc(100% - 100px)
      float: left
  @media (min-width: $lg)
    &__text
      font-size: 12px