.modalform
  position: fixed
  overflow: auto
  bottom: 0
  top: 0
  right: 0
  left: 0
  &._auth
    background: radial-gradient(circle at 5% 14%, rgba(140, 90, 142, 0.2), transparent 80%)
  .header
    &__content
      background: none
      &::before
        background: none
    &___left__authorization,
    &__center__authorization,
    &__right__authorization
      display: inline-block
    &__center__authorization
      position: relative
      left: 33%
    &__left__authorization
      float: left
    &__right__authorization
      float: right
      .lines
        width: 20px
        height: 20px
        display: inline-block
        vertical-align: middle
        margin-right: 15px
        span
          display: block
          height: 2px
        span:first-child
        transform: rotate(91deg) translate3d(-1px, -7px, 0) scale(1.0)
      .btn
        border: none
        margin-top: 20px

  .welcome__form
    padding-top: 160px
    &__text
      line-height: 1.75
      font-size: 20px
      text-align: center
      letter-spacing: 3px
      color: #94aaba
      a
        border-bottom: 1px dotted #1e8c88
        &:hover
          text-decoration: none
          border: 0
    &__auth
      width: 360px
      margin: auto
    &__log
      margin-top: 50px
    &__pass
      margin-top: 30px
    &__remeber
      margin-top: 30px
      font-size: 14px
      .checkbox
        display: inline-block
      label
        .checkbox__label
          text-transform: none
          letter-spacing: normal
      a
        text-transform: none
        letter-spacing: normal
        float: right
    &__enter
      margin-top: 40px
      text-align: center
      .btn_lg
        padding: 20px 60px

  .question
    margin-top: 200px
    margin-bottom: 50px
    &__text
      text-align: center
      color: #94aaba
      font-size: 14px
      a
        text-transform: none
        letter-spacing: normal

  .showHidePass
    position: relative
    float: right
    top: -29px
    right: 30px
    cursor: pointer
