.banner
  background-color: $dark
  &__slide
    position: relative
    height: 350px
    padding-top: 250px
    .img
      background-size: 740px
      background-position: center top
      background-repeat: no-repeat
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
  &__slideText
    @extend .title
    position: relative
    height: 110px
    color: $link_blue
    font-family: PTSansCaption, sans-serif
    text-align: center
    line-height: 25px
    padding-bottom: 10px
    .text
      display: inline-block
      max-width: 60%
      vertical-align: middle
    &::after
      vertical-align: middle
      display: inline-block
      height: 100%
      content: ''
  &:not(.cwl-carousel)
    .banner__slide:first-child ~ .banner__slide
      display: none
  .owl-dots
    position: absolute
    bottom: 0
    right: 0
    left: 0
    padding: 0 0 15px
    text-align: center
  .owl-dot
    display: inline-block
    -webkit-border-radius: 100px
    -moz-border-radius: 100px
    border-radius: 100px
    height: 3px
    width: 3px
    background-color: $white_text
    margin: 0 3px
    &:first-child, &:last-child
      opacity: .8
    &.active
      background-color: $light_blue
  .owl-nav
    position: absolute
    left: 0
    right: 0
    bottom: 0
  @media (max-width: $sm_)
    .owl-nav
      display: none
    &__slideText
      .btn
        display: none
  @media (min-width: $sm)
    &__slide
      height: 540px
      padding-top: 445px
      .img
        background-size: 1260px
      .btn
        margin-left: 30px
        .arrow
          margin-left: 10px
    &__slideText
      font-size: 16px
      padding: 0
      height: 100px
    .owl-dots
      display: none
    .owl-prev, .owl-next
      position: absolute
      bottom: 0
      height: 100px
      width: 80px
      background-image: url("../../img/arrow_right_big.png")
      background-position: center
      background-size: 22px
      background-repeat: no-repeat
    .owl-next
      right: 0
    .owl-prev
      left: 0
      transform: scale(-1)
  @media (min-width: $lg)
    .owl-prev, .owl-next
      background-size: 50px
      width: 130px
    &__slide
      height: 540px
      padding-top: 440px
      .img
        background-size: 1400px
        background-position: center bottom
  @media (min-width: 1400px)
    &__slide
      .img
        &::before, &::after
          content: ''
          position: absolute
          top: 0
          bottom: 0
          width: 200px
        &::before
          right: calc(50% + 500px)
          background-image: linear-gradient(to right, $dark 20%, transparent)
        &::after
          left: calc(50% + 500px)
          background-image: linear-gradient(to left, $dark 20%, transparent)
