.benefit
  padding: 15px
  &__img
    position: relative
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    margin-bottom: 10px
    &::after
      content: ''
      display: block
      padding-top: 100%
  &__light
    position: absolute
    left: 0
    right: 0
    top: -2%
    &::after
      content: ''
      display: block
      padding-top: 100%
    &_blue
      background-image: radial-gradient(rgba(30, 140, 136, 1) 30%, transparent 65%)
    &_yellow
      background-image: radial-gradient(#f2b54f 30%, transparent 65%)
    &_pink
      background-image: radial-gradient(rgba(140, 90, 142, 1) 30%, transparent 65%)
  &__text
    @extend .title
    text-align: center
    line-height: 1.8em
    a
      border-bottom: 1px dashed $link_blue
