.breadcrumb
  &__item
    @extend .title
    margin-right: 10px
    display: inline-block
    &:last-child
      a
        color: rgba($white_text, .4)
        pointer-events: none
    &:not(:last-child)
      &::after
        content: '/'
        color: rgba($white_text, .4)
        margin-left: 10px