.card
  border: 2px solid $very_dark
  &__img
    height: 160px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    border-bottom: 2px solid $very_dark
  &__info
    padding: 25px 20px
  &__title
    @extend .title
    margin-bottom: 10px
  &__sum
    @extend .title
    color: $light_blue
    margin-bottom: 10px
  &__text
    color: darken($white_text, 40%)
    min-height: 40px
    b
      font-weight: normal
      color: $pink
  &__btn
    .btn
      width: 100%
  @media (min-width: $sm) and (max-width: $lg)
    &::after
      content: ''
      clear: both
      display: block
    &__img, &__info
      height: 200px
      float: left
      width: 50%
    &__infoTop
      min-height: 100px
    &__text
      min-height: 0
  @media (min-width: $sm)
    &__title
      font-size: 14px
  @media (min-width: $lg)
    &__info::after
      display: block
      clear: both
      content: ''
    &__infoTop
      float: left
      width: 60%
      padding-right: 10px
      height: 80px
    &__btn
      float: left
      width: 40%
    &__title
      font-size: 16px
    &__img
      height: 320px
