.filterDropdown
  background-color: $dark
  padding: 20px 20px
  font-size: 12px
  &__footer
    border-top: 2px solid $very_dark
    text-align: center
    padding: 20px 0 0
  .checkbox
    margin-bottom: 16px
  &__row
    &::after
      content: ''
      display: block
      clear: both
  &__col
    float: left
    width: 100%
  &__content
    position: relative
  @media (min-width: $sm)
    &__col
      width: 50%
  @media (min-width: $lg)
    &__col
      width: 25%
