.footerMenu
  &::after
    display: block
    clear: both
    content: ''
  &__col
    float: left
    width: 33.33%
  &__title
    color: $link_blue
    font-size: 14px
    letter-spacing: .2em
    margin-bottom: 25px
    text-transform: uppercase
  &__list
    a
      display: block
      margin-bottom: 15px
      color: rgba($white_text, .2)
      letter-spacing: initial
      text-transform: none
      &:hover
        color: $link_blue
      &.mail
        color: rgba($link_blue, .2)