.footer
  background-color: $dark
  padding-top: 5px
  &__row
    padding: 25px 0
    border-bottom: 2px solid $very_dark
    .title
      color: rgba($white_text, .2)
      margin-bottom: 20px
  &__links
    font-size: 10px
    text-align: center
  &__payments
    .logos__item
      img
        height: 30px
  &__providers
    .logos
      margin-bottom: 10px
    a
      font-size: 10px
      letter-spacing: .2em
      border-bottom: 1px dotted $link_blue
      text-decoration: none
      .arrow
        display: inline-block
        transform: rotate(90deg) scale(.8)
  &__copywrite
    padding: 25px 0 20px
    font-size: 14px
    line-height: 25px
    text-align: center
    background-color: $very_dark
    color: rgba($white_text, .2)
  @media (max-width: $sm_)
    &__links
      a
        display: block
        padding: 9px 0
  @media (min-width: $sm)
    text-align: left
    &__about
      padding-top: 25px
    &__row
      padding: 30px 0
    .title
      font-size: 14px
    .logos
      text-align: left
      &__item
        margin-left: 0
        margin-top: 0
        &:not(:last-child)
          margin-right: 30px
    &__payments
      .logos__item
        margin-bottom: 20px
        img
          height: 35px
    &__links
      a
        display: inline-block
        margin: 0 25px
    &__copywrite
      padding-bottom: 25px
  @media (max-width: $sm_)
    text-align: center
    &__menu
      display: none
  @media (min-width: $sm) and (max-width: $lg)
    &__links
      line-height: 3em
  @media (min-width: $lg)
    &__about
      padding-top: 0
    &__bottomRow
      &::after
        content: ''
        display: block
        clear: both
    &__col
      width: 50%
      float: left
    &__row
      padding: 40px 0
    &__payments, &__providers
      &::after
        content: ''
        display: block
        clear: both
      .title
        float: left
        width: 200px
        padding-right: 80px
        line-height: 2em
        margin-top: -10px
        margin-bottom: 0
      .logos
        float: left
        width: calc(100% - 200px)
    .logos__item
      margin-bottom: 0
      img
        height: 35px
    &__payments
      .logos__item
        &:not(:last-child)
          margin-right: 40px
        margin-bottom: 0
        img
          height: 45px
    &__providers
      a
        margin-left: 200px