.gamePreviewInfo
  &__tableHolder
    position: relative
  &__table
    position: absolute
    left: -10px
    right: -10px
    bottom: 100%
    transition: .3s
    opacity: 0
    pointer-events: none
    transform: translateY(10px)
  &__tableToogle
    width: 20px
    height: 20px
    position: absolute
    right: 45px
    top: 15px
    background-color: $link_blue
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    z-index: 10
    &::after, &::before
      content: ''
      position: absolute
      background-color: #ffffff
    &::before
      width: 2px
      height: 2px
      border-radius: 4px
      top: 5px
      left: 9px
    &::after
      width: 2px
      height: 6px
      top: 10px
      left: 9px
    &:hover + .gamePreviewInfo__table
      opacity: 1
      transform: none
  &__like
    position: absolute
    top: 10px
    right: 10px
  &__new
    transition: .3s
    position: absolute
    top: 15px
    left: 10px
    span
      display: inline-block
      padding: 3px 8px
      letter-spacing: .15em
      font-size: 10px
      text-transform: uppercase
      -webkit-border-radius: 999px
      -moz-border-radius: 999px
      border-radius: 999px
      background-color: $pink
      color: #ffffff
  &__name
    @extend .title
    line-height: 1.2em
    padding-top: 40px
    height: 70px
    transition: .3s
  &__btns
    overflow: hidden
    &::after
      content: ''
      display: block
      clear: both
    .btn
      padding: 12px 10px
      width: 100%
  &__btn
    width: 50%
    float: left
    padding: 0 10px
    transition: .2s
  &__footer
    position: absolute
    left: 0
    right: 0
    bottom: 0
    padding: 10px
    text-align: justify
    text-align-last: justify
    height: 30px
    overflow: hidden
    &::after
      content: ''
      display: inline-block
      width: 100%
  &__number
    display: inline-block
    font-size: 10px
    letter-spacing: .15em
    transition: .2s
    small
      font-size: 7px
      font-weight: bold
      margin-left: 3px
    i
      margin-right: 6px
      vertical-align: top
    &.white
      color: #fff
    &.pink
      color: $pink
    &.blue
      color: $link_blue
  &:not(:hover)
    .gamePreviewInfo
      &__number
        transform: translateY(20px)
        transition-delay: 0s
      &__btn
        &:first-child
          transform: translateX(-20px)
        &:nth-child(2)
          transform: translateX(20px)
      &__name
        transform: translateY(-10px)
  @media  (max-width: $md_)
    &__name
      padding-top: 50px
      height: 100px
  @media  (max-width: $sm_)
    &__name
      padding-top: 45px
      height: 80px