.gameSections
  text-align: center
  border-bottom: 2px solid $dark
  padding-right:
  position: relative
  &::after
    content: ''
    display: block
    clear: both
  &__item
    text-align: center
    vertical-align: top
    width: 30%
    height: 100px
    display: inline-block
    font-size: 10px
    letter-spacing: .18em
    @extend a
    .icon
      margin-bottom: 15px
      svg
        transition: .3s
        width: 42px
        height: 42px
        path
          fill: #fff
    &:not(:hover) .icon svg
      path
        fill: #94aaba
    &:hover .icon svg
      transform: scale(1.1)
  @media (max-width: $sm_)
    &__item .filterDropdown
      padding-top: 50px
      position: fixed
      top: 0
      bottom: 0
      left: 0
      right: 0
      overflow-y: auto
      z-index: 100
      text-align: left
      transition: .5s
      &:not(.active)
        transform: translateX(100%)
      .close
        position: absolute
        right: 20px
        top: 20px
  @media (min-width: $sm)
    text-align: left
    .close
      display: none
    &__item
      float: left
      width: 16.6%
      &:not(:hover)
        .filterDropdown
          opacity: 0
          transform: translateY(-70px)
          pointer-events: none
      .filterDropdown
        transition: .5s
        text-align: left
        position: absolute
        transform: translateY(-10px)
        left: 0
        right: 0
        top: 100%
        z-index: 100
        &::before
          content: ''
          position: absolute
          right: 41.6%
          top: -10px
          width: 30px
          height: 30px
          background-color: $dark
          transform: rotate(-45deg)
          transform-origin: right 0
  @media (min-width: $lg)
    padding-bottom: 10px
    &__item
      width: 10%
      .filterDropdown
        transform: translateY(-20px)
        &::before
          right: 5%