.gamesGrid
  &__content
    margin-left: -15px
    margin-right: -15px
    &::after
      content: ''
      display: block
      clear: both
  &__item
    width: 100%
    float: left
    padding: 0 15px
    margin-bottom: 30px
  &__bottom
    padding: 10px 0 40px
    text-align: center
  &__loader
    display: inline-block
    width: 60px
    height: 60px
    -webkit-border-radius: 999px
    -moz-border-radius: 999px
    border-radius: 999px
    position: relative
    animation: rotateLoader 1s infinite linear
    span
      position: absolute
      left: 0
      right: 0
      height: 50%
      &:first-child
        top: 0
        border-top-left-radius: 999px
        border-top-right-radius: 999px
        background: linear-gradient(to right, transparent 0%, rgba($link_blue, .5) 100%)
      &:nth-child(2)
        bottom: 0
        border-bottom-left-radius: 999px
        border-bottom-right-radius: 999px
        background: linear-gradient(to left, rgba($link_blue, .5) 0%, $link_blue 100%)
    &::after
      content: ''
      position: absolute
      top: 1px
      bottom: 1px
      left: 1px
      right: 1px
      background-color: $back
      -webkit-border-radius: 999px
      -moz-border-radius: 999px
      border-radius: 999px
  @media (min-width: $sm)
    &__item
      width: 50%
  @media (min-width: $lg)
    &__item
      width: 25%
  @media (max-width: $sm_)
    &__loadItems .gamesGrid__item:nth-child(2) ~ .gamesGrid__item
      display: none
    &__bottom
      padding: 0 0 30px
  @media (max-width: $md_)
    &__loadItems .gamesGrid__item:nth-child(4) ~ .gamesGrid__item
      display: none

@keyframes rotateLoader
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)