.gamePreviewTable
  background-color: $dark
  padding: 20px
  text-align: left
  &__name
    @extend .title
    float: left
    width: 60%
    line-height: 1.5em
  &__provider
    text-align: right
    float: left
    width: 40%
    @extend a
    pointer-events: none
    font-size: 10px
  &__head
    padding-bottom: 15px
    border-bottom: 2px solid $very_dark
    &::after
      content: ''
      display: block
      clear: both
  &__table
    padding-top: 15px
    text-transform: uppercase
    font-size: 10px
    letter-spacing: .1em
  &__row
    &:not(:last-child)
      margin-bottom: 10px
    &::after
      content: ''
      display: block
      clear: both
  &__cell
    width: 50%
    float: left
    position: relative
    .pink
      color: $pink
    .blue
      color: $link_blue
    .gray
      color: rgba($white_text, .2)
    i
      margin-right: 5px
    &:first-child
      color: rgba($white_text, .3)
      span
        display: inline-block
        position: relative
        background-color: $dark
        padding-right: 2px
      &::before
        content: ''
        display: block
        position: absolute
        left: 0
        right: 5px
        bottom: 3px
        border-top: 1px solid rgba($white_text, .1)
    &:nth-child(2)
      color: $white_text
      letter-spacing: .2em