.gamesRow
  &__row
    margin-left: -15px
    margin-right: -15px
  &__head, &__row
    &::after
      display: block
      clear: both
      content: ''
  &__title
    @extend .title_big
    float: left
    width: calc(100% - 50px)
  &__allLink
    float: left
    width: 50px
    line-height: 2em
  &__item
    float: left
    padding-left: 15px
    padding-right: 15px
    width: 100%
  @media (max-width: $lg)
    &__item
      &:nth-child(2) ~ .gamesRow__item
        display: none
  @media (max-width: $sm_)
    &__allLink
      line-height: 1.2em
      a
        font-size: 0
        &::before
          content: 'Все'
          font-size: 14px
          display: inline-block
          vertical-align: middle
          margin-right: 10px
    &__item
      &:first-child ~ .gamesRow__item
        display: none
  @media (min-width: $sm)
    &__title
      width: calc(100% - 150px)
    &__allLink
      width: 150px
    &__item
      width: 50%
  @media (min-width: $lg)
    &__item
      width: 25%
