.gameSmallPreview
  position: relative
  display: block
  text-decoration: none !important
  color: $white_text
  &:hover
    color: $link_blue
  &__img
    width: 100%
    margin-bottom: 7px
  &__name
    font-family: PTSansCaption, sans-serif
    font-weight: bold
    line-height: 1.6em
    font-size: 10px