.gamePreview
  text-align: center
  position: relative
  &__image
    position: relative
    height: 170px
    background-color: #2f3543
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    &_load
      background-color: $dark
      background-image: url(../../img/logo_black.png)
      background-size: 70px
  &__name
    @extend .title
    padding: 20px 20px 0
    min-height: 50px
  &__jackpot
    @extend .title
    font-size: 10px
    color: $link_blue
    position: absolute
    width: 170px
    height: 28px
    top: 100%
    left: 0
    text-align: center
    transform-origin: 0 0
    transform: rotate(-90deg)
    background-color: $very_dark
    &::before
      content: ''
      width: 15px
      height: 15px
      position: absolute
      right: 6px
      top: 6px
      transform: rotate(90deg)
      background-image: url('../../svg/icon_11.svg')
      background-size: contain
      background-position: center
      background-repeat: no-repeat
    &::after
      content: ''
      display: inline-block
      height: 100%
      vertical-align: middle
    & + .gamePreview__hover
      margin-left: 28px
  &__hover
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    transition: .3s
    &> *
      position: relative
    .btn
      background-color: rgba(0,0,0,.4)
      width: 120px
    &::before
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      background-color: rgba(0,0,0,.8)
    &:not(:hover)
      opacity: 0
  &__info
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    &::before
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      background-color: rgba(0,0,0,.9)
    .gamePreviewInfo
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      &__tableHolder
        z-index: 100
  &:not(:hover)
    .gamePreview__info
      &::before
        opacity: 0
    .gamePreviewInfo
      &__tableHolder, &__footer, &__btns, &__name
        opacity: 0
      &__like
        input:not(:checked) + .likeCheckbox__icon
          display: none
      &__new
        top: 10px
        span
          padding-top: 7px
          padding-bottom: 7px
  &__btn
    margin-bottom: 15px
  @media  (min-width: $sm)
    &__image
      height: 200px
    &__name
      padding: 15px 20px 0
  @media  (min-width: $lg)
    &__image
      height: 150px
    &__jackpot
      width: 150px
