.gifts
  text-align: center
  padding-top: 25px
  padding-bottom: 30px
  position: relative
  overflow: hidden
  &__title
    line-height: 1.6em
    margin-bottom: 25px
  &::after, &::before
    content: ''
    position: absolute
    width: 2000px
    height: 2000px
  &::before
    background-image: radial-gradient(rgba(140, 90, 142, 1), transparent 60%)
    top: -50%
    left: auto
    right: -10%
  &::after
    background-image: radial-gradient(rgba(30, 140, 136, 1), transparent 60%)
    top: -50%
    left: -10%
  @media (max-width: $sm_)
    &__owl
      &:not(.owl-carousel)
        .gifts__gift ~ .gifts__gift
          display: none
      .owl-next, .owl-prev
        position: absolute
        background-image: url(../../img/arrow_right.png)
        background-repeat: no-repeat
        background-position: center
        width: 40px
        height: 40px
        top: 50%
        transform: translateY(-50%)
        font-size: 0
      .owl-next
        right: 0
      .owl-prev
        transform: translateY(-50%) scaleX(-1)
      .owl-stage-outer
        padding-top: 25px
  @media (min-width: $sm)
    padding-top: 40px
    padding-bottom: 30px
    position: relative
    overflow: hidden
    &::before
      top: 30%
      right: 30%
      left: auto
    &::after
      top: 30%
      left: 30%
    &> *
      position: relative
      z-index: 10
    &__slider
      margin-left: -15px
      margin-right: -15px
    &__gift
      padding-left: 15px
      padding-right: 15px
    &__owl
      .owl-item
        margin-bottom: 30px
      .owl-stage
        transform: none!important
      .owl-stage-outer
        padding-top: 40px
  @media (min-width: $sm) and (max-width: $lg)
    &__owl
      .owl-item:nth-child(2n + 1)
        clear: both
  @media (min-width: $lg)
    padding-top: 45px
    padding-bottom: 70px
    &::before
      transform: none
      top: 30%
      right: 30%
      left: auto
      width: 2000px
      height: 2000px
    &::after
      transform: none
      top: 30%
      left: 30%
      width: 2000px
      height: 2000px
    &__title
      margin-bottom: 0
    &__slider
      margin-left: -40px
      margin-right: -40px
      padding-left: 40px
      padding-right: 40px
    &__owl
      .owl-stage-outer
        padding-top: 100px
        overflow: visible