.gift
  border: 2px dashed $very_dark
  height: 260px
  color: $white_text
  position: relative
  &__img
    height: 130px
    position: relative
    margin-bottom: 10px
    &::before
      content: ''
      position: absolute
      width: 95px
      height: 95px
      -webkit-border-radius: 999px
      -moz-border-radius: 999px
      border-radius: 999px
      background-color: $very_dark
      left: 50%
      top: 30px
      transform: translateX(-50%)
      transition: .3s
    .img
      height: 130px
      padding-top: 10px
      transition: .3s
      &::after
        content: ''
        display: inline-block
        height: 100%
        vertical-align: middle
      img
        position: relative
        display: inline-block
        vertical-align: middle
        height: 90px
        width: auto
  &__name
    @extend .title
    margin-bottom: 15px
  &__text
    color: rgba($white_text, .5)
    line-height: 2em
    margin: 0 auto
    max-width: 150px
  &__tip
    position: absolute
    right: 20px
    top: 20px
  &:hover
    background-color: $dark
    .gift__img
      .img
        transform: scale(1.1)
      &::before
        background-color: $link_blue
