.header
  color: $light_blue
  position: relative
  /*background: radial-gradient(circle at 103% 500%, rgba(30, 140, 136, 0.1), transparent 80%)
  height: 60px
  &__color
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    z-index: -1
    &::after, &::before
      content: ''
      position: absolute
      width: 2000px
      height: 2000px
    &::before
      background-image: radial-gradient(rgba(140, 90, 142, 1), transparent 60%)
      transform: translateY(-87%) translateX(-20%)
      right: 0
    &::after
      background-image: radial-gradient(rgba(30, 140, 136, 1), transparent 60%)
      left: 20%
      top: 0
      transform: translateY(-10%)
  &__content
    background-color: $dark_header
    z-index: 20
    position: relative
    height: 60px
    &> *
      height: 60px
    &::before
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      background: radial-gradient(circle at -5% -513%, rgba(140, 90, 142, 0.2), transparent 80%)
      pointer-events: none
    &::after
      content: ''
      clear: both
      display: block
  &__left, &__right
    float: left
  &__center
    width: 60px
    float: left
    text-align: center
  &__right
    text-align: right
    word-spacing: -5px
    *
      word-spacing: initial
  &__menu_right
    z-index: 10
  &__lang
    display: inline-block
    vertical-align: top
    height: 60px
    padding-top: 12px
    padding-right: 15px
  @media (max-width: $sm_)
    &__center
      height: 60px
    &__left, &__right
      width: calc(50% - 30px)
      height: 60px
    &__color
      &::before
        background-image: radial-gradient(rgba(140, 90, 142, 1), transparent 60%)
        transform: translateY(-50%) translateX(-50%)
        left: -200vw
        top: -20vw
      &::after
        background-image: radial-gradient(rgba(30, 140, 136, 1), transparent 60%)
        transform: translateY(-50%) translateX(-50%)
        left: 250vw
        top: -20vw
  @media (max-width: $lg)
    &__menu
      position: absolute
      top: 100%
      left: 0
      right: 0
      transition: .3s
      .headerMenu__item
        transition: .2s
        @for $i from 1 through 10
          &:nth-child(#{$i})
            transition-delay: #{0.3 + 0.1*$i}s
      &:not(.active)
        transform: translateX(-100%)
        .headerMenu__item
          opacity: .7
      &_right
        &:not(.active)
          transform: translateY(-100%)
  @media (max-width: $sm_)
    &__menu
      &_right
        &:not(.active)
          transform: translateX(100%)
  @media (min-width: $sm)
    height: 100px
    &__lang
      height: 100px
      padding-right: 25px
      padding-top: 32px
      padding-left: 27px
    &__content
      height: 100px
      &> *
        height: 100px
    &__left, &__center
      width: auto
    &__right
      float: right
      white-space: nowrap
    &__menu_right
      background-color: $dark_header
      width: auto!important
      position: absolute
      top: 100%
      left: 0
      right: 0
      transition: .3s
      &:not(.active)
        transform: translateY(-100%)
    &__color
      &::before
        transform: translateY(-87%) translateX(-10%)
      &::after
        left: 0
  @media (min-width: $sm) and (max-width: $lg)
    &__menu
      width: 320px
      &:not(.header__menu_right)
        .headerMenu
          height: 540px
  @media (min-width: $lg)
    &__lang
      padding-left: 15px
    &__left
      display: none
    &__center
      padding-left: 20px
    &__menu
      display: inline-block
    &__right
      width: auto
    &__color
      &::before
        background-image: radial-gradient(rgba(140, 90, 142, 1), transparent 60%)
        transform: translateY(-87%) translateX(-20%)
        right: 0
      &::after
        background-image: radial-gradient(rgba(30, 140, 136, 1), transparent 60%)
        right: -1000px
        left: auto
        top: 0
        transform: translateY(-10%)