.headerMenu
  text-align: left
  ul, li
    list-style: none
  &__link
    .heart
      margin-right: 14px
  @media (max-width: $lg)
    background-color: $back
    padding-top: 20px
    padding-bottom: 20px
    &__list
      padding: 0 23px
    &__item
      border-bottom: 2px solid #0f1116
      &:first-child
        border-top: 2px solid #0f1116
    &__link
      display: block
      padding: 19px 0
      line-height: 1em
  @media (min-width: $lg)
    &__list
      white-space: nowrap
    &__item
      display: inline-block
    &__link
      display: block
      padding: 10px 10px