.jackpot
  text-align: center
  position: relative
  padding-top: 25px
  padding-bottom: 25%
  &> *
    position: relative
  &__bg, &__circles
    position: absolute
    bottom: 0
    left: 0
    right: 0
    top: 0
  &__bg
    background-image: url(../../img/coins.png)
    background-position: center bottom
    background-repeat: no-repeat
    background-size: 350%
  &__info
    margin-bottom: 25px
    small
      color: darken($white_text, 40%)
      display: block
      font-size: 12px
      margin-bottom: 10px
    strong
      @extend .title
      font-size: 16px
      font-weight: normal
      color: $link_blue
    .btn
      padding-left: 40px
      padding-right: 40px
  &__number
    width: 24px
    background-image: url(../../img/num.png)
    background-repeat: no-repeat
    background-size: 305%
    display: inline-block
    &::before
      content: ''
      display: block
      padding-top: 131%
    &_space
      width: 8px
      background: none
      &::before
        padding-top: 396%
    &_0
      background-position: 95% 66.2%
    &_1
      background-position: -1.5% 0
    &_2
      background-position: 46% 0
      &::before
        padding-top: 130%
    &_3
      background-position: 95% 0
      &::before
        padding-top: 130%
    &_5
      background-position: -2% 33%
    &_4
      background-position: 0 100%
    &_6
      background-position: 46% 33%
    &_7
      background-position: 95% 33%
    &_8
      background-position: -1% 66.2%
    &_9
      background-position: 46% 66.6%
    &_comma
      position: relative
      background: none
      &::after
        content: ''
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        background-image: url(../../img/num.png)
        background-repeat: no-repeat
        background-size: 305%
        background-position: 95% 99%
        transform: translateY(80%)
  &__currency
    @extend .title
    padding-top: 5px
  &__sum
    clear: both
    white-space: nowrap
  @media (max-width: $sm_)
    &__sum
      position: absolute
      left: 0
      right: 0
      top: 40px
    &__title
      margin-bottom: 90px
  @media (min-width: $sm)
    padding-bottom: 190px
    &__bg
      background-size: 1260px
      background-position: 80% bottom
    &__circles
      overflow: hidden
      &::after, &::before
        content: ''
        position: absolute
        width: 1000px
        height: 1000px
        transform: translate3d(-50%, -50%, 0)
      &::before
        top: 120%
        left: -10%
        background-image: radial-gradient(rgba(140, 90, 142, 1), transparent 60%)
      &::after
        top: 120%
        left: 110%
        background-image: radial-gradient(rgba(30, 140, 136, 1), transparent 60%)
    &__sum
      padding-top: 70px
    &__info
      float: left
      width: 33.33%
      text-align: left
      .btn
        margin: 0 auto
        display: block
        width: 200px
    &__number
      width: 60px
      &_space
        width: 15px
        &::before
          padding-top: 523%
    &__sum
      margin-right: -20px
      margin-left: -10px
    &__currency
      display: inline-block
      font-size: 18px
      letter-spacing: .25em
      vertical-align: top
      line-height: 1em
      padding-top: 0
      margin-top: -2px
  @media (min-width: $lg)
    &__bg
      background-size: 100%
    &__title
      float: left
      width: 34%
      text-align: left
    &__info
      width: 22%
      .btn
        width: 100%
    &__number
      width: 100px
      &_space
        width: 25px
    &__currency
      font-size: 20px
    &__circles
      &::before
        top: 100%
        left: 0
      &::after
        top: 100%
        left: 100%