.langSwitcher
  color: $link_blue
  display: inline-block
  padding: 10px 5px
  font-size: 12px
  vertical-align: top
  text-align: left
  position: relative
  &__drop
    position: absolute
    left: 50%
    top: 100%
    transform: translateX(-50%)
    transition: .3s
    &::before
      content: ''
      position: absolute
      top: -5px
      left: 50%
      height: 10px
      width: 10px
      background-color: $dark_header
      transform: rotate(45deg)
      transform-origin: 0 0
      z-index: 1
  &:not(:hover)
    .langSwitcher__drop
      transform: translateX(-50%) translateY(-10px)
      opacity: 0
      pointer-events: none
  &__list
    position: relative
    background-color: $dark_header
    padding: 5px 0
    max-height: 200px
    overflow-y: auto
    z-index: 2
  &__label
    &::after
      content: ''
      display: inline-block
      width: 4px
      height: 4px
      border: 2px solid $link_blue
      border-right: none
      border-top: none
      transform: rotate(-45deg) translateX(2px)
      opacity: .8
      margin-left: 5px
  &__item
    white-space: nowrap
    padding: 5px 20px
    z-index: 2
    font-size: 14px
    position: relative
    cursor: pointer
    &:hover
      background-color: lighten($dark_header, 2%)
  &__label
    position: relative
    span
      vertical-align: middle
      display: inline-block
    .icon
      -webkit-background-size: contain
      background-size: contain
      background-position: center
      display: inline-block
      vertical-align: middle
      width: 14px
      height: 9px
      margin-right: 5px
      &_ru
        background-image: url("../../img/ru.png")
      &_en
        background-image: url("../../img/ru.png")
  @media (min-width: $sm)
    &__item
      span
        display: inline-block!important
        letter-spacing: .1em
      .icon
        margin-right: 5px