.logos
  text-align: center
  &__item
    display: inline-block
    margin: 10px 5px
    position: relative
    img
      transition: .3s
      position: relative
      &:first-child
        opacity: 0
      &:nth-child(2)
        display: block
        position: absolute
        top: 0
        left: 0
        right: 0
    &:hover
      img
        &:first-child
          opacity: 1
        &:nth-child(2)
          opacity: 0
    img
      height: 25px
      transition: .3s

