.logo
  display: inline-block
  padding: 10px
  &__img
    display: block
    background-image: url(../../img/logo.png)
    height: 40px
    width: 40px
    background-size: 185px
    background-repeat: no-repeat
  @media(min-width: $sm)
    padding: 0
    &__img
      height: 100px
      width: 280px
      background-size: contain
      background-position: center
      &_min
        width: 65px
        background-size: 280px
        background-position: 0 center
  @media(min-width: $x_lg)
    &__img_min
      height: 100px
      width: 280px
      background-size: contain
      background-position: center
