.menuToggle
  display: inline-block
  height: 60px
  width: 60px
  cursor: pointer
  padding: 22px 23px
  position: relative
  &.active
    background-color: $very_dark
    .menuToggle__lines
      span:first-child
        transform: rotate(135deg) translate3d(5px, -5px, 0) scale(1.4)
      span:nth-child(2)
        transform: scale(0)
        opacity: 0
      span:nth-child(3)
        transform: rotate(-135deg) translate3d(3px, 4px, 0) scale(1.4)
  &__lines
    position: relative
    span
      display: block
      height: 2px
      background-color: $light_blue
      transition: .2s
      transform-origin: center
      &:not(:last-child)
        margin-bottom: 4px
  @media(max-width: $sm_)
    &__text
      display: none
  @media(min-width: $sm)
    padding: 25px
    height: 100px
    display: inline-block
    width: auto
    &__btn
      border: 1px solid $dark_blue
      height: 50px
      padding: 15px
      white-space: nowrap
      transition: .3s
      &:hover
        border-color: $link_blue
        background-color: rgba(0,0,0,.1)
    &__text
      display: inline-block
      height: 20px
      line-height: 20px
      font-size: 12px
      text-transform: uppercase
      vertical-align: middle
    &__lines
      width: 20px
      height: 20px
      display: inline-block
      vertical-align: middle
      margin-right: 15px
      span:not(:last-child)
        margin-bottom: 6px
    &.active .menuToggle__lines
      span:first-child
        transform: rotate(135deg) translate3d(6px, -6px, 0) scale(1.4)
      span:nth-child(3)
        transform: rotate(-135deg) translate3d(5px, 5px, 0) scale(1.4)