.modal
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  transition: transform .5s, opacity .3s
  z-index: 100
  &__header
    text-align: right
    padding: 10px
  &:not(.active)
    transform: translateX(100%)
  &.active
    background-color: $dark
    overflow-y: auto
    padding: 10px
  @media(min-width: $sm)
    bottom: auto
    &:not(.active)
      transform: translateY(-50px)
      opacity: 0
      pointer-events: none
    &__header
      display: none
