.navigation
  padding-top: 30px
  @media (max-width: $sm_)
    &__breadcrumb
      margin-bottom: 15px
  @media (min-width: $sm)
    &::after
      content: ''
      display: block
      clear: both
    &__breadcrumb
      float: left
    &__help
      float: right
  @media (min-width: $md)
    padding-top: 35px