.newsList
  padding-bottom: 40px
  background-color: $back
  border-top: 2px solid $very_dark
  padding-top: 35px
  &__title
    margin-bottom: 30px
  &__slider
    margin-left: -15px
    margin-right: -15px
  &__item
    padding-left: 15px
    padding-right: 15px
  &__header
    &::after
      content: ''
      display: block
      clear: both
  &__title
    width: calc(100% - 60px)
    float: left
  &__arrows
    width: 60px
    float: left
    padding-top: 5px
    &::after
      content: ''
      display: block
      clear: both
  &__arrow
    cursor: pointer
    width: 50%
    float: left
    height: 24px
    background-image: url(../../img/arrow_right.png)
    background-size: 20px
    background-repeat: no-repeat
    background-position: center
    &_prev
      transform: scale(-1)
  @media(max-width: $sm_)
    &__owl:not(.owl-carousel)
      .newsList__item ~ .newsList__item
        display: none
  @media(min-width: $sm)
    padding-bottom: 45px
    padding-top: 45px
    &__owl:not(.owl-carousel)
      .newsList__item
        float: left
        width: 50%
      &::after
        content: ''
        display: block
        clear: both
    &__title
      margin-bottom: 25px
  @media(max-width: $lg)
    &__owl:not(.owl-carousel)
      .newsList__item
        &:nth-child(2) ~ .newsList__item
          display: none
  @media(min-width: $lg)
    padding-bottom: 60px
    padding-top: 50px
    &__title
      margin-bottom: 30px
    &__owl:not(.owl-carousel)
      &::after
        content: ''
        display: block
        clear: both
      .newsList__item
        float: left
        width: 25%
        &:nth-child(4) ~ .newsList__item
          display: none