.news
  padding-bottom: 30px
  border-bottom: 2px solid $very_dark
  &__row
    margin-left: -15px
    padding-right: -15px
    &::after
      display: block
      clear: both
      content: ''
  &__col
    padding-left: 15px
    padding-right: 15px
    padding-top: 30px
  &__owl:not(.owl-carousel)
    .card ~ .card
      display: none
  @media (min-width: $sm)
    padding-bottom: 50px
    &__col
      padding-top: 40px
  @media (min-width: $lg)
    &__col
      float: left
      width: 50%
      padding-top: 45px