.newsPreview
  border: 2px solid $very_dark
  display: block
  padding: 18px 27px
  text-decoration: none !important
  &__header
    margin-bottom: 25px
    display: flex
    flex-direction: row
    justify-content: space-between
    .date
      color: rgba($white_text, .5)
      font-size: 12px
      vertical-align: middle
    .icon
      svg
        width: 20px
  &__name
    display: block
    height: 70px
    text-overflow: ellipsis
    line-height: 2em
  @media (min-width: $sm)
    &__header
      margin-bottom: 20px
    &__name
      height: 65px