.modalform
  &._registration
    background: radial-gradient(circle at -5% 94%, rgba(140, 90, 142, 0.2), transparent 80%)

.header
  &___left__registration,
  &__center__registration,
  &__right__registration
    display: inline-block
  &__center__registration
    position: relative
    left: 33%
  &__left__registration
    float: left
  &__right__registration
    float: right
    .lines
      width: 20px
      height: 20px
      display: inline-block
      vertical-align: middle
      margin-right: 15px
      span
        display: block
        height: 2px
      span:first-child
      transform: rotate(91deg) translate3d(-1px, -7px, 0) scale(1.0)
    .btn
      border: none
      margin-top: 20px

.register__form
  padding-top: 160px
  &__text
    line-height: 1.75
    font-size: 20px
    text-align: center
    letter-spacing: 3px
    color: #94aaba
    a
      border-bottom: 1px dotted #1e8c88
      &:hover
        text-decoration: none
        border: 0
  &__auth
    width: 600px
    margin: auto
  &__mail
    width: 400px
    margin-top: 50px
    display: inline-block
  &__select
    display: inline-block
    vertical-align: bottom
    padding-left: 30px
    .select__drop
      .select__item[data-val="placeholder"]
        color: #94aaba
        display: none
    .select__btn
      width: 165px
      border: 1px solid #0d0e12
      font-size: 14px
      color: #22252c
      text-transform: none
      letter-spacing: normal
  &__infomail
    margin-top: 20px
    color: #22252c
  &__promo
    display: inline-block
    padding-left: 20px
    width: 125px
  &__rules
    margin-top: 40px
    font-size: 14px
  &__defence
    display: inline-block
    .checkbox
    label
      .checkbox__label
        text-transform: none
        letter-spacing: normal
        color: #2e343c !important
    a
      text-transform: none
      letter-spacing: normal
      float: right
  &__enter
    margin-top: 40px
    text-align: center
    .btn_lg
      padding: 20px 60px

.question
  margin-top: 200px
  margin-bottom: 50px

  &__text
    text-align: center
    color: #94aaba
    font-size: 14px
    a
      text-transform: none
      letter-spacing: normal

.gifts
  padding-top: 110px
  &:before
    background: none
  &:after
    background: none
  &__owl
    .owl-stage-outer
      padding-top: 50px