.searchLine
  .input
    padding-left: 55px
    padding-right: 20px
  &__form
    position: relative
    button
      position: absolute
      height: 50px
      width: 50px
      left: 0
      top: 0
      background-image: url('../../svg/loupe.svg')
      background-position: center
      background-repeat: no-repeat
      background-size: 22px
      background-color: transparent