.sectionFilter
  &__title
    color: rgba($white_text, .2)
  @media (max-width: $sm_)
    padding-top: 20px
    &__checkboxes
      display: none
    &__title
      float: left
      width: 30%
      padding-top: 10px
    &__select
      float: left
      width: 70%
      .select
        width: 100%
        &__btn
          width: 100%
    &__part
      margin-bottom: 20px
      &::after
        content: ''
        display: block
        clear: both
    &__adaptiveLine
      display: none
  @media (min-width: $sm)
    padding-top: 30px
    padding-bottom: 25px
    &::after
      content: ''
      display: block
      clear: both
    &__checkboxes
      padding-top: 20px
    &__checkbox
      display: inline-block
      margin-right: 20px
      .checkbox__box
        margin-right: 10px
    &__part
      float: left
      &:first-child
        width: 75%
        .select
          display: none
      &:nth-child(2)
        width: 25%
    &__title
      margin-bottom: 15px
  @media (min-width: $lg)
    &__part
      float: left
      &:first-child
        width: calc(100% - 220px)
      &:nth-child(2)
        width: 220px
      .select
        width: 100%
        &__btn
          width: 100%
