.signUpBtn
  display: inline-block
  text-align: center
  &__mobile
    cursor: pointer
    vertical-align: middle
    height: 60px
    width: 50px
    background-size: 17px
    background-position: center
    background-repeat: no-repeat
    background-image: url(../../svg/signup.svg)
  &__tablet
    display: none
  @media (min-width: $sm)
    height: 100px
    padding: 0 20px
    &::after
      content: ''
      display: inline-block
      height: 100%
      vertical-align: middle
    &__mobile
      display: none
    &__tablet
      display: inline-block
      vertical-align: middle
  @media (min-width: $md)
    padding: 0 0 0 10px