.userDropDown
  text-align: left
  white-space: initial
  &::after
    content: ''
    clear: both
    display: block
  @media(max-width: $sm_)
    &__left, &__userLevel
      display: none
  @media(min-width: $sm)
    &__left
      float: left
      width: 56%
      padding: 30px 25px 20px
    &__right
      float: right
      width: 44%
      padding: 30px 25px 30px 0
    &__menu
      border-left: 2px solid $dark
      padding-left: 25px
      width: 160px
      float: left
      .headerMenu
        padding: 0
        &__list
          padding: 0
        &__link
          padding: 0
        &__item
          border: none
          display: block
          &.onlyXS
            display: none
          &:not(:last-child)
            margin-bottom: 15px
    &__userLevel
      text-align: left
      width: calc(100% - 160px)
      float: left
  @media (min-width: $lg)
    &__right
      width: 453px
    &__left
      width: calc(100% - 453px)