.userSection
  display: inline-block
  vertical-align: middle
  height: 60px
  &__userBtn
    display: inline-block
    vertical-align: middle
    height: 60px
    width: 60px
    padding: 20px
    text-align: center
    position: relative
    &.active
      background-color: $dark
      .userIcon
        &:before
          border-radius: 0
          border-top-width: 0
          border-left-width: 0
          transform: rotate(45deg)
          width: 7px
          height: 7px
          left: 5px
          top: 1px
        &::after
          border-radius: 0
          border-right-width: 0
          transform: rotate(45deg)
          width: 7px
          height: 7px
          left: 5px
          top: 11px
  @media (max-width: $sm_)
    &__balance, &__btn
      display: none
  @media (min-width: $sm) and (max-width: $lg)
    background-color: $dark
  @media (min-width: $sm)
    height: 100px
    padding: 0 23px 0 40px
    margin-left: 30px
    &::after
      content: ''
      display: inline-block
      vertical-align: middle
      height: 100%
    &__balance
      text-align: left
      display: inline-block
      white-space: initial
      margin-right: 30px
      vertical-align: middle
      padding-bottom: 10px
      .userBalance
        display: inline-block
        &:first-child
          margin-right: 30px
        &:nth-child(2)
          strong
            color: $lite_pink
    &__userBtn
      display: none
    &__btn
      display: inline-block
      vertical-align: middle
      .btn
        display: block
        float: left
        height: 54px
        &:hover
          position: relative
          z-index: 10
        &:first-child
          width: 100px
          text-align: center
        &:nth-child(2)
          margin-left: -1px
          width: 54px
          padding: 0
          text-align: center
          &::after
            content: ''
            display: inline-block
            height: 100%
            vertical-align: middle
          img
            width: 33px
            display: inline-block
            vertical-align: middle
            opacity: .6
            transition: .2s
          &:hover, &.active
            img
              opacity: 1
        &::after
          clear: both
          display: block
          content: ''
  @media (min-width: $lg)
    position: relative
    &::before
      content: ''
      position: absolute
      top: 25px
      bottom: 25px
      left: 0
      width: 1px
      background-color: $dark_blue
    &__balance
      max-width: 200px
      width: 200px



.userIcon
  position: relative
  width: 20px
  height: 20px
  transform: scale(1.3)
  &::before
    content: ''
    display: inline-block
    width: 4px
    height: 4px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    border: 2px solid $light_blue
    position: absolute
    left: 6px
    top: 3px
    transition: .3s
  &::after
    content: ''
    display: inline-block
    width: 10px
    height: 5px
    border: 2px solid #76ccc9
    border-top-right-radius: 8px
    border-top-left-radius: 8px
    border-bottom: none
    position: absolute
    left: 3px
    top: 10px
    transition: .3s


