.usersGamesRow
  margin-left: -15px
  margin-right: -15px
  &::after
    display: block
    clear: both
    content: ''
  &__section
    float: left
    padding-right: 15px
    padding-left: 15px
    &:first-child
      width: 66.66%
      .usersGamesSection__item
        width: 50%
    &:nth-child(2)
      width: 33.33%
  @media (max-width: $lg)
    &__section
      &:first-child
        .usersGamesSection__item:nth-child(2) ~ .usersGamesSection__item
          display: none
      &:nth-child(2)
        .usersGamesSection__item:first-child ~ .usersGamesSection__item
          display: none
  @media (min-width: $lg)
    margin-left: -25px
    margin-right: -25px
    &__section
      padding-right: 25px
      padding-left: 25px
      &:first-child
        width: 71%
        .usersGamesSection__item
          width: 20%
      &:nth-child(2)
        width: 29%
        .usersGamesSection__item
          width: 50%
