.userLevelProgress
  &::after
    display: block
    clear: both
    content: ''
  &__avatar
    width: 30px
    height: 30px
    background-color: #0f1116
    float: left
  &__progress
    float: left
    width: calc(100% - 30%)
    padding-left: 10px
    padding-top: 5px
  &__number
    @extend .title
    font-size: 11px
    margin-bottom: 5px
  &__line
    height: 2px
    background-color: #0f1116
    position: relative
    overflow: hidden
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    .bar
      width: 50%
      position: absolute
      left: 0
      top: 0
      bottom: 0
      background-color: $pink
