.userBalance
  span
    font-size: 10px
    color: $white_text
    opacity: .2
    display: block
    transition: .3s
  strong
    color: $light_blue
    line-height: 20px
    letter-spacing: .1em
  &:hover
    span
      opacity: 1