.usersGamesSection
  &__title
    @extend .title
    display: inline-block
    margin-bottom: 20px
    color: $white_text
    &:hover
      color: $link_blue
    .heart
      margin-right: 10px
  &__row
    margin-right: -15px
    margin-left: -15px
    &::after
      display: block
      clear: both
      content: ''
  &__item
    padding-left: 15px
    padding-right: 15px
    display: block
    float: left
    width: 100%