.winner
  padding: 10px 0
  &::after
    content: ''
    display: block
    clear: both
  &__img
    float: left
    height: 58px
    width: 100px
    background-position: center
    background-size: cover
    background-repeat: no-repeat
  &__info
    padding-left: 20px
    float: left
    width: calc(100% - 100px)
  &__title
    @extend .title
    font-size: 10px
    letter-spacing: .2em
    margin-bottom: 7px
  &__sum
    @extend .title
    color: $link_blue
    letter-spacing: .2em
    margin-bottom: 15px
  &__footer
    color: $white_text
    font-size: 9px
    opacity: .4
    span
      display: block
      float: left
      &:first-child
        width: 40%
        text-overflow: ellipsis
      &:nth-child(2)
        width: 35%
      &:nth-child(3)
        width: 25%
  @media(min-width: $sm) and (max-width: $lg)
    &__img
      width: 100%
      height: 92px
    &__info
      width: 100%
      padding: 10px 0
      height: 70px
      position: relative
      padding-bottom: 15px
    &__footer
      position: absolute
      bottom: 0
      left: 0
      right: 0
  @media(min-width: $lg)
    &__img
      height: 60px
    &__info
      height: 60px
      position: relative
      padding-bottom: 15px
    &__footer
      position: absolute
      bottom: 0
      left: 20px
      right: 0
      span
        display: block
        float: left
        &:first-child
          width: 40%
          text-overflow: ellipsis
        &:nth-child(2)
          width: 35%
        &:nth-child(3)
          text-align: right
