.winnersList
  padding: 20px 0
  border-top: 2px solid $very_dark
  border-bottom: 2px solid $very_dark
  &__row
    &::after
      content: ''
      display: block
      clear: both
  &__item
    &:not(:last-child)
      margin-bottom: 10px
  @media (min-width: $sm)
    &__row
      margin-left: -15px
      margin-right: -15px
    &__item
      padding-left: 15px
      padding-right: 15px
      float: left
      width: 25%